<div id="reference-section">
    <h1 class="special-title">References</h1>
    <ol class="reference-list">
        {% for el in references %}
        {%- include "partials/_reference_item.jinja" %}
        {%- endfor %}
    </ol>
</div>