<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for css in [
    "styles.css",
    "navbar.css",
    "toolbar.css",
    "editor.css",
    "explorer.css",
    "actions.css",
    "click-actions.css",
    "select-toolbar.css",
    "fab.css",
    "highlight.css",
    "text-ref.css",
    "references.css",
    "reference-section.css",
    "callouts.css",
    "inline-captions.css",
    "code.css",
    "media-pop.css",
    "flashing.css",
    "tts-player.css"
    ] %}
    <link rel="stylesheet" href="css/{{ css }}">
    {%- endfor %}

    <script src="https://cdn.jsdelivr.net/npm/mark.js/dist/mark.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor/dist/css/medium-editor.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor/dist/css/themes/default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/medium-editor/dist/js/medium-editor.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16/dist/contrib/auto-render.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/speech-rule-engine/lib/sre_browser.js"></script>
    
</head>
<body>

<div>

{% include "partials/_navbar.jinja" %}
{% include "partials/_fab_group.jinja" %}

{% set tag_map = {
    'paragraph': 'p',
    'formula':   'p',
    'bullet':    'p',
    'code':      'pre',
} %}

<div id="loading-overlay" hidden>Computing...</div>

<main id="app">
    <div id="pre-content"></div>

    <div id="app-content">
        <h1 class="special-title">{{ title }}</h1>
        {% for el in elements %}
            {%- include "partials/_element.jinja" %}
        {%- endfor %}
    </div>

    {% include "partials/_reference_section.jinja" %}
</main>

{% include "partials/_toolbar.jinja" %}

</div>

<div id="prefetch" style="display:none">
    {% for id, caption in refs.items() %}
    <span data-type="caption" data-identifier="{{ id }}">{{ caption }}</span>
    {% endfor %}
</div>

<script src="./js/actions/editor.js" type="module"></script>
<script type="module" src="./js/highlighter/ui.js"></script>
<script src="./js/loader.js" type="module"></script>
</body>
</html>